$cyan: #68f7f5;

footer{
	
	background-color: $cyan;
	padding: 10px 10px 0 10px;
	margin-bottom: 0px,
	margin-top: 10px 
}

footer a{
	color: black;
	

}


footer a:hover{
	color: white;
	text-decoration: none;
}