.jumbotron{
	background-color: cyan;
	color: black;
	margin-top: 45px;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
}

.icono_boton{
	margin-right: 10px;
}
footer{
	
	background-color: cyan;
	padding: 10px 10px 0 10px;
	margin-bottom: 0px,
	margin-top: 10px 
}

footer a{
	color: black;
	

}


footer a:hover{
	color: white;
	text-decoration: none;
}